@media (max-width: 1366px) {
  .header {
  margin-bottom: 18px;
  }
  .menu {
  padding: 0 16% 0 0;
  align-items: center;
  justify-content: flex-end;
   }
  .menu__item {
  position: relative;
  margin-right: 22px;
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
}
.main {
  padding: 80px 63% 200px 0;
  background-size: 48%;
  background-position: 73% 63px;
 }
 .main__title {
  margin: 9px 0 42px 0;
  font: bold 50px/60px pt_serif, arial, helvetica, sans-serif;
 }
 .main__title-text_highlight {
font: bold 49px/62px pt_serif, arial, helvetica, sans-serif;
}
.main__subtitle {
  margin: 0px 18px 28px 0px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
}
.main__button {
  margin: 13px 0px 0px 0px;
  padding: 13px 22px;
  font: 500 14px/20px Roboto, arial, helvetica, sans-serif;
}
}
@media (max-width: 1024px) {
  .header {
  margin-bottom: 18px;
  margin-right: -302px;
  }
  .menu {
  margin-right: 22px;
  align-items: center;
  justify-content: flex-end;
   }
  .menu__item {
  position: relative;
  margin-right: 22px;
  font: 15px/21px Roboto, arial, helvetica, sans-serif;
}
.main {
  padding: 81px 48% 200px 0;
  background-size: 68%;
  background-position: 155% 63px;
 }
 .main__title {
  margin: 9px 0 42px 0;
  font: bold 50px/60px pt_serif, arial, helvetica, sans-serif;
 }
 .main__title-text_highlight {
font: bold 49px/62px pt_serif, arial, helvetica, sans-serif;
}
.main__subtitle {
  margin: 0px 24px 28px 0px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
}
.main__button {
  margin: 13px 0px 0px 0px;
  padding: 13px 22px;
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
}
}
@media (max-width: 375px) {
.menu {
  display: none;
 }
.header {
  margin-bottom: 11px;
}
.logo {
  padding: 40px 0 0 0;
}
.logo__text {
  display: none;
}
.main {
  text-align: center;
  padding: 78% 0 0;
  background-size: 86%;
  background-position: 50% 0px;
}
.main__title {
  margin: 30px -31px 32px 0px;
  font: 700 30px/39px pt_serif, arial, helvetica, sans-serif;
}
  .main__title-text_highlight {
 font: 700 30px/39px pt_serif, arial, helvetica, sans-serif;
}
.main__subtitle {
  margin: 0px -23px 8px 0px;
  padding: 0 40px 0 49px;
  font: 500 16px/18px Roboto, arial, helvetica, sans-serif;
}
.main__button {
  margin: 24px 0px 4px 33px;
  padding: 11px 20px;
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
 }
}
